<div class="container">
    <div class="container-fluid">
        <h1>Login</h1>

        <div ng-show ="vm.error" class ="alert alert-danger">
        {{vm.error}}
        </div>

        <input ng-model ="username"
               type="text"
               class="form-control"
               placeholder="username"/>
        <input ng-model ="password"
               type="password"
               class="form-control"
               placeholder="password"/>
        <a ng-click="vm.login(username, password)"
           class="btn btn-primary btn-block">
            Login
        </a>
        <a class="btn btn-success btn-block"
           href="#!/register">
            Register
        </a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>

    </div>
</div>