<div class ="container-fluid">
    <h1>Admin Users</h1>
    <ul class="list-group">
        <li ng-repeat="user in model.users" class="list-group-item">
            <span ng-click="model.deleteUser(user)"
                  class="glyphicon glyphicon-remove pull-right"></span>
            <span ng-click="model.updateUser(user, model.userId)"
                  class="glyphicon glyphicon-cog pull-right"></span>
            <span ng-click="model.createUser(user)"
                  class="glyphicon glyphicon-plus pull-right"></span>
            <a href = "/api/project/profile">
            {{user.username}}
            {{user.firstName}}
            {{user.lastName}}
            {{user.roles}}
            </a>
        </li>
    </ul>
</div>
