<div class ="container-fluid">
    <h1>Posts</h1>
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-2">
                    <b>Username</b>
                </div>
                <div class="col-xs-1">
                    <b>Movie</b>
                </div>
                <div class="col-xs-2">
                    <b>Post</b>
                </div>
                <div class="col-xs-3">
                    <b>Description</b>
                </div>
                <div class="col-xs-2">
                    <b>Name</b>
                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                    <input ng-model="model.post._author.username"
                           class="form-control"/>
                </div>
                <div class="col-xs-1">
                    <input ng-model="model.post.movieId"
                           class="form-control"/>
                </div>
                <div class="col-xs-2">
                    <input ng-model="model.post.post"
                           class="form-control"/>
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.post.description"
                           class="form-control"/>
                </div>
                <div class="col-xs-2">
                    <input ng-model="model.post.name"
                           class="form-control"/>
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.updatePost(model.post); model.user={}"
                          class="glyphicon glyphicon-ok pull-right"></span>
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.createPost(model.post); model.user={}"
                          class="glyphicon glyphicon-plus pull-right"></span>
                </div>
            </div>
        </li>
        <li ng-repeat="post in model.posts" class="list-group-item">
            <div class="row">
                <div class="col-xs-2"> <!--ng-click="model.selectUsername(username)-->
                    {{post._author.username}}
                </div>
                <div class="col-xs-1"> <!--ng-click="model.selectUsername(username)-->
                    {{post.movieId}}
                </div>
                <div class="col-xs-2">
                    {{post.post}}
                </div>
                <div class="col-xs-3">
                    {{post.description}}
                </div>
                <div class="col-xs-2">
                    {{post.name}}
                </div>
                <div class="col-xs-1">
                      <span ng-click="model.selectPost(post)"
                            class="glyphicon glyphicon-pencil pull-right"></span>
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.deletePost(post)"
                          class="glyphicon glyphicon-remove pull-right"></span>
                </div>
            </div>

            <!--<span ng-click="model.updateUser(user, model.userId)"
                  class="glyphicon glyphicon-cog pull-right"></span>
            <span ng-click="model.createUser(user)"
                  class="glyphicon glyphicon-plus pull-right"></span>
            <a href = "/api/project/profile">-->

            </a>
        </li>
    </ul>
</div>
