<div class ="container-fluid">
    <h1>Posts</h1>
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-3">
                    <b>Username</b>
                </div>
                <div class="col-xs-1">
                    <b>Movie</b>
                </div>
                <div class="col-xs-1">
                    <b>PostType</b>
                </div>
                <div class="col-xs-2">
                    <b>Post</b>
                </div>
                <div class="col-xs-2">
                    <b>Description</b>
                </div>
                <div class="col-xs-2">
                    <b>Name</b>
                </div>
                <div class="col-xs-1">
                    <a href="#!/admin/posts/new">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="post in model.posts" class="list-group-item">
            <div class="row">
                <div class="col-xs-3"> <!--ng-click="model.selectUsername(username)-->
                    {{post._author}}
                </div>
                <div class="col-xs-1"> <!--ng-click="model.selectUsername(username)-->
                    {{post.movieId}}
                </div>
                <div class="col-xs-1"> <!--ng-click="model.selectUsername(username)-->
                    {{post.postType}}
                </div>
                <div class="col-xs-2">
                    {{post.post}}
                </div>
                <div class="col-xs-2">
                    {{post.description}}
                </div>
                <div class="col-xs-2">
                    {{post.name}}
                </div>
                <div class="col-xs-1">
                      <span ng-click="model.findPost(post)"
                            class="glyphicon glyphicon-pencil pull-right"></span>
                    <span ng-click="model.deletePost(post)"
                          class="glyphicon glyphicon-remove pull-right"></span>
                </div>
            </div>

            <!--<span ng-click="model.updateUser(user, model.userId)"
                  class="glyphicon glyphicon-cog pull-right"></span>
            <span ng-click="model.createUser(user)"
                  class="glyphicon glyphicon-plus pull-right"></span>
            <a href = "/api/project/profile">-->

            </a>
        </li>
    </ul>
</div>
