<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="nav navbar-text navbar-link pull-left">
            <span ng-click="model.goBack()" class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">Choose Post</a>
    </div>
</nav>

<div class="container-fluid user-main">
    <ul class="list-group">
        <li class ="list-group-item">
            <a href="#!/admin/posts/new/text"
               class="navbar-link">
                Text Input</a>
        </li>
        <li class ="list-group-item">
            <a href="#!/admin/posts/new/image"
               class="navbar-link">
                Image</a>
        </li>
        <li class ="list-group-item">
            <a href="#!/admin/posts/new/youtube"
               class="navbar-link">
                YouTube</a>
        </li>
    </ul>
</div>
