<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="nav navbar-text navbar-link pull-left">
                <span ng-click="model.goBack()" class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <ul class="nav navbar-nav pull-right">

                <li>
                    <a href="#!/profile">
                        <u>Profile</u>
                    </a>
                </li>

                <li>
                    <a ng-click="model.logout()">
                        <u>Logout</u>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class ="container-fluid user-main">

    <div ng-show="model.error" class="alert alert-danger center">
        {{model.error}}
    </div>

    <h1>Users</h1>
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-3">
                    <b>Username</b>
                </div>
                <div class="col-xs-2">
                    <b>First name</b>
                </div>
                <div class="col-xs-2">
                    <b>Last Name</b>
                </div>
                <div class="col-xs-3">
                    <b>Roles</b>
                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <input ng-model="model.user.username"
                           class="form-control"/>
                </div>
                <div class="col-xs-2">
                    <input ng-model="model.user.firstName"
                           class="form-control"/>
                </div>
                <div class="col-xs-2">
                    <input ng-model="model.user.lastName"
                           class="form-control"/>
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.user.roles"
                           class="form-control"/>
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.updateUser(model.user); model.user={}"
                          class="glyphicon glyphicon-ok pull-right"></span>
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.createUser(model.user); model.user={}"
                          class="glyphicon glyphicon-plus pull-right"></span>
                </div>
            </div>
        </li>
        <li ng-repeat="user in model.users" class="list-group-item">
            <div class="row">
                <div class="col-xs-3"> <!--ng-click="model.selectUsername(username)-->
                    {{user.username}}
                </div>
                <div class="col-xs-2">
                    {{user.firstName}}
                </div>
                <div class="col-xs-2">
                    {{user.lastName}}
                </div>
                <div class="col-xs-3">
                    {{user.roles}}
                </div>
                <div class="col-xs-1">
                      <span ng-click="model.selectUser(user)"
                            class="glyphicon glyphicon-pencil pull-right"></span>
                </div>
                <div class="col-xs-1">
                      <span ng-click="model.deleteUser(user)"
                            class="glyphicon glyphicon-remove pull-right"></span>
                </div>
            </div>

            <!--<span ng-click="model.updateUser(user, model.userId)"
                  class="glyphicon glyphicon-cog pull-right"></span>
            <span ng-click="model.createUser(user)"
                  class="glyphicon glyphicon-plus pull-right"></span>
            <a href = "/api/project/profile">-->

            </a>
        </li>
    </ul>
</div>
