<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav pull-right">
                <li ng-if="!model.currentUser._id">
                    <a href="#!/register">
                        Register
                    </a>
                </li>
                <li ng-if="!model.currentUser._id">
                    <a href="#!/login">
                        Login
                    </a>
                </li>
                <li ng-if="model.currentUser._id">
                    <a href="#!/profile">
                        <u>Profile</u>
                    </a>
                </li>
                <li ng-if="model.currentUser._id">
                    <a ng-click="model.logout()">
                        <u>Logout</u>
                    </a>
                </li>
                <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1">
                    <a href="#!/admin">
                        <u>Admin</u>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid home user-main">

    <div class="center">

        <h1>Welcome to WhichMovie?</h1>

        <div>
            <h4>
                New to WhichMovie?

                <a href="#!/register">
                    <u>Register</u>
                </a>
            </h4>
        </div>
        <div class="input-group">
            <input ng-model="searchText"
                   type="text"
                   class="form-control">
            <span class="input-group-btn">
                <a ng-click="model.searchPage(searchText)"
                   class="btn btn-block btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>
    </div>

    <h4>Upcoming Movies</h4>

    <span style="display: inline-block">
        <div ng-click="model.decreaseUpcoming()" class="bcol glyphicon glyphicon-chevron-left pull-left"></div>
        <div class="col" ng-repeat="movie in model.upcomingMovies">
            <img ng-show="model.upcomingIndex==$index||model.upcomingIndex==$index+1||model.upcomingIndex==$index+2"
                 ng-click="model.selectMovie(movie.id)"
                 ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}"
                 class="thumbnail img-responsive" width="200px">
        </div>
        <div ng-click="model.increaseUpcoming()" class="bcol glyphicon glyphicon-chevron-right pull-right"></div>
    </span>

    <h4>Current Movies</h4>
    <span style="display: inline-block">
        <div ng-click="model.decreaseUpcoming()" class="bcol glyphicon glyphicon-chevron-left pull-left"></div>
        <div class="col" ng-repeat="movie in model.currentMovies">
            <img ng-show="model.upcomingIndex==$index||model.upcomingIndex==$index+1||model.upcomingIndex==$index+2"
                 ng-click="model.selectMovie(movie.id)"
                 ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}" class="thumbnail img-responsive" width="200px">
        </div>
        <div ng-click="model.increaseUpcoming()" class="bcol glyphicon glyphicon-chevron-right pull-right"></div>
    </span>

    <h4>Popular Movies</h4>
    <span style="display: inline-block">
        <div ng-click="model.decreaseUpcoming()" class="bcol glyphicon glyphicon-chevron-left pull-left"></div>
        <div class="col" ng-repeat="movie in model.popularMovies">
            <img ng-show="model.upcomingIndex==$index||model.upcomingIndex==$index+1||model.upcomingIndex==$index+2"
                 ng-click="model.selectMovie(movie.id)"
                 ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}" class="thumbnail img-responsive" width="200px">
        </div>
        <div ng-click="model.increaseUpcoming()" class="bcol glyphicon glyphicon-chevron-right pull-right"></div>
    </span>

    <h4>Top Rated Movies</h4>
    <span style="display: inline-block">
        <div ng-click="model.decreaseUpcoming()" class="bcol glyphicon glyphicon-chevron-left pull-left"></div>
        <div class="col" ng-repeat="movie in model.topRatedMovies">
            <img ng-show="model.upcomingIndex==$index||model.upcomingIndex==$index+1||model.upcomingIndex==$index+2"
                 ng-click="model.selectMovie(movie.id)"
                 ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}" class="thumbnail img-responsive" width="200px">
        </div>
        <div ng-click="model.increaseUpcoming()" class="bcol glyphicon glyphicon-chevron-right pull-right"></div>
    </span>

</div>