<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#!/">
                <span class="glyphicon glyphicon-hand-left btn"></span>
            </a>
        </p>

        <br>
        <h3 class="navbar-text" style="color: white">Movie Page</h3>
    </div>
</nav> <!--navigation ends-->

<!--basic movie info, cast and genre && recommendations, similar movies-->
<div class="container-fluid main" style="padding-top: 50px; ">

    <div class="panel zoomInRight col-sm-8" style="padding-top: 15px">

        <img class="thumbnail img-responsive" src="http://image.tmdb.org/t/p/original{{model.movie.poster_path}}"/>

        <div ng-if="!(model.user.roles.indexOf('ADMIN') > 0)">
            <ul class="nav nav-tabs">
                <li ng-init="model.show ='info'"
                    class="active"
                    ng-click="model.show='info'" ng-class="{'active': model.show==='info'}">
                    <a>Basic Info</a>
                </li>
                <li ng-click="model.show='cast'" ng-class="{'active': model.show==='cast'}">
                    <a>Cast and Genre</a>
                </li>
            </ul>
            <div ng-show="model.show === 'info'"
                 id="info"
                 class="tab-pane fade in active">
                <ul class="list-group">
                    <h3>{{model.movie.title}}</h3>
                    <h4>Release Date: {{model.movie.vote_average}}</h4>
                    <h4>Release Date: {{model.movie.release_date}}</h4>
                    <h4>Summary</h4>
                    <p>{{model.movie.overview}}</p>
                </ul>
            </div>
            <div ng-show="model.show === 'cast'"
                 id="cast"
                 class="tab-pane fade in active">
                <h3>Cast and Genre</h3>
                <ul class="list-group">

                    <details>
                        <summary>Genre</summary>
                        <div class="" ng-repeat="i in model.genres | limitTo:15">
                            <div class="clearfix" ng-if="$index % 4 == 0"></div>
                            <div class="col">
                                {{i.name}}
                            </div>
                        </div>
                    </details>

                    <br>
                    <br>

                    <details>
                        <summary>Cast</summary>
                        <div class="" ng-repeat="i in model.casts | limitTo:15">
                            <div class="clearfix" ng-if="$index % 3 == 0"></div>
                            <div class="col">
                                {{i.name}}
                            </div>
                        </div>
                    </details>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel-body col-sm-4">
        <div ng-if="model.similarMovie">
            <div class="caption">
                <h4>Similar Movies</h4>
            </div>
            <hr>

            <a ng-repeat="movie in model.similarMovie | limitTo: 3">
                <img class="thumbnail img-responsive" ng-click="model.selectMovie(movie.id)" src="http://image.tmdb.org/t/p/original{{movie.poster_path}}"/>
            </a>


            <ul class="rel-results">
                <li ng-repeat="movie in model.similarmovies.results | limitTo:10">
                    <a href="#{{model.routerelated}}/{{movie.id}}" id="{{ $index + 1 }}">{{ movie.title }}</a>,
                    {{ movie.release_date | limitTo:4}}
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container-fluid main" >

    <div class="panel panel-body">

        <div>
            <ul class="nav nav-tabs">
                <li ng-click="model.show='reviews'" ng-class="{'active': model.show==='reviews'}">
                    <a>Reviews</a>
                </li>
                <li ng-click="model.show='Posts'" ng-class="{'active': model.show==='Posts'}">
                    <a>Posts</a>
                </li>
            </ul>
            <div ng-show="model.show === 'reviews'"
                 id="reviews"
                 class="tab-pane fade in active">

                <div  ng-show="model.reviews.length != 0">
                    <div class="well" ng-repeat="review in model.reviews">
                        <span ng-show="model.loggedUser._id === review._reviewer._id"
                              ng-click="model.editReview(review)"
                              class="glyphicon glyphicon-pencil pull-right"></span>
                        <p>
                            <label ng-click="model.selectReview(review)"><u>{{review._reviewer.username}}</u></label>
                        <h4>Rating : {{review.rating}}</h4>
                        <h4>Review : </h4>
                        <span>
                                <p>{{review.review}}</p>
                            </span>

                        </p>

                        <!--<div ng-click="model/selecctReview(review)">{{review.review}}</div>-->
                    </div>
                </div>
                <div class="well" ng-show="model.reviews == 0">
                    <h5>No reviews yet.. Be the first to review it!</h5>
                </div>

                <div class="well" ng-show="!model.canEdit">
                    <h4>Write a Review:</h4>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control"
                                      rows="3"
                                      placeholder="The movie is great!"
                                      ng-model="review.review"
                                      ng-disabled="!model.canCreate">
                            </textarea>
                        </div>
                        <label for="rating5">Rating</label>
                        <div class="form-group">
                            <select id="rating5" class="form-control"
                                    value="5"
                                    ng-model = "review.rating"
                                    ng-disabled="!model.canCreate">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <a href="" class="btn btn-success " ng-show="model.canCreate"
                           ng-click="model.createReview(review)"
                           role="button"><strong>Review It!</strong></a>
                        <a href="" class="btn btn-warning" ng-show="!model.canCreate" ng-disabled="!model.canCreate"
                           role="button"><strong>Please login to review!</strong></a>
                    </form>
                </div>
                <div class="well" ng-show="model.canEdit">
                    <div ng-show="model.message" class="alert alert-info">
                        {{model.message}}
                    </div>
                    <h4>Edit Review:</h4>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control"
                                      rows="3"
                                      placeholder="The movie is great!"
                                      ng-model="model.review.review">
                            </textarea>
                        </div>
                        <label for="rating1">Rating</label>
                        <div class="form-group">
                            <select id="rating1" class="form-control"
                                    value="5"
                                    ng-model = "model.review.rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <a href="" class="btn btn-success " ng-show="model.canEdit"
                           ng-click="model.updateReview(model.review)"
                           role="button"><strong>Update It!</strong></a>
                        <a href="" class="btn btn-danger " ng-show="model.canEdit"
                           ng-click="model.deleteReview(model.review)"
                           role="button"><strong>Delete It!</strong></a>
                        <!--<a href="" class="btn btn-warning" ng-show="!model.canEdit" ng-disabled="!model.canCreate"-->
                        <!--role="button"><strong>Please login to review!</strong></a>-->
                    </form>
                </div>
            </div>
            <div ng-show="model.show === 'Posts'"
                 id="Posts"
                 class="tab-pane fade in active">

                <div ng-show="model.posts.length != 0">
                    <div class="well" ng-repeat="post in model.posts">
                        <span ng-show="model.loggedUser._id === post._author._id"
                              ng-click="model.editPost(post)"
                              class="glyphicon glyphicon-pencil pull-right"></span>

                        <div ng-switch ="post.postType">
                            <div ng-switch-when="TEXT">
                                    <label ng-click="model.selectPost(post)"><u>{{post._author.username}}</u></label>
                                    <span>
                                <p>{{post.post}}</p>
                                </span>


                            </div>
                            <div ng-switch-when = "IMAGE">
                                <label ng-click="model.selectPost(post)"><u>{{post._author.username}}</u></label>
                                    <span>
                                    <p>{{post.name}}</p>
                                    </span>

                                <img ng-src="{{post.url}}"
                                     width="{{post.width}}"/>

                            </div>

                            <div ng-switch-when = "YOUTUBE">
                                <label ng-click="model.selectPost(post)"><u>{{post._author.username}}</u></label>
                                    <span>
                                <p>{{post.description}}</p>
                                </span>

                                <div class="youtube-post">
                                    <iframe width="100%" src="{{model.getYouTubeEmbedUrl(post.url)}}"></iframe>
                                </div>
                            </div>
                    </div>

                </div>
                </div>

                <div class="well" ng-show="model.posts.length == 0">
                    <h5>No posts yet.. Be the first to post about it!</h5>
                </div>

                <div class="well" ng-show="!model.canEdit">
                    <h4>Write a Post:</h4>
                    <select class="div-toggle" data-target=".my-info-1">
                        <option value="Text" data-show=".text">Text</option>
                        <option value="Image" data-show=".image">Image</option>
                        <option Video="apple" data-show=".video">Video</option>
                    </select>
                    <form>
                        <div class="form-group">
                            <div class="my-info-1">
                                <div class="text hide">
                                    <div class="form-group">
                                        <textarea class="form-control"
                                                  rows="3"
                                                  placeholder="The movie is great!"
                                                  ng-model="post.post">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="image hide">
                                    <form>
                                        <label for="name">Name</label>
                                        <input id="name"
                                               type="text"
                                               ng-model = "post.name"
                                               class="form-control">
                                        <label for="url">URL</label>
                                        <input id="url"
                                               ng-model = "post.url"
                                               type="url"
                                               class="form-control"
                                               placeholder="https://www.sitebuilderreport.com/assets/facebook-stock-up-446fff24fb11820517c520c4a5a4c032.jpg">
                                        <label for="width">Width</label>
                                        <input id="width"
                                               ng-model = "post.width"
                                               type="text"
                                               class="form-control"
                                               placeholder="100%">
                                        <form action="/api/project/upload"   method="post" enctype="multipart/form-data">
                                            <input  name="myFile"    type="file" class="form-control"/>
                                            <input  name="width"     value="{{model.post.width}}" style="display: none"/>
                                            <input  name="userId"    value="{{model.userId}}"       style="display: none"/>
                                            <input  name="movieId" value="{{model.movieId}}"    style="display: none"/>
                                            <input  name="postId"  value="{{model.post._id}}"   style="display: none"/>
                                            <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
                                        </form>
                                    </form>
                                </div>
                                <div class="video hide">
                                    <form>
                                        <label for="description" style="font-weight: normal">Description</label>
                                        <input id="description"
                                               type="text"
                                               ng-model = "post.description"
                                               class="form-control">
                                        <label for="url1" style="font-weight: normal">URL</label>
                                        <input id="url1"
                                               class="form-control"
                                               ng-model = "post.url"
                                               type="url"
                                               placeholder="https://www.sitebuilderreport.com/assets/facebook-stock-up-446fff24fb11820517c520c4a5a4c032.jpg">
                                        <label for="width1" style="font-weight: normal">Width</label>
                                        <input id="width1"
                                               type="text"
                                               ng-model = "post.width"
                                               placeholder="100%"
                                               class="form-control">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn-success "
                           ng-click="model.createPost(post)"
                           role="button"><strong>Post It!</strong></a>
                        <!--<a href="" class="btn btn-warning" ng-show="!model.canCreate" ng-disabled="!model.canCreate"-->
                        <!--role="button"><strong>Please login to review!</strong></a>-->
                    </form>
                </div>
                    <div class="well" ng-show="model.canEdit">
                        <div ng-show="model.message" class="alert alert-info">
                            {{model.message}}
                        </div>
                        <h4>Edit Post:</h4>
                        <form>
                            <select class="div-toggle" data-target=".my-info-1">
                                <option value="Text" data-show=".text">Text</option>
                                <option value="Image" data-show=".image">Image</option>
                                <option Video="apple" data-show=".video">Video</option>
                            </select>
                            <form>
                                <div class="form-group">
                                    <div class="my-info-1">
                                        <div class="text hide">
                                            <div class="form-group">
                                        <textarea class="form-control"
                                                  rows="3"
                                                  placeholder="The movie is great!"
                                                  ng-model="model.post.post">
                                        </textarea>
                                            </div>
                                        </div>
                                        <div class="image hide">
                                            <form>
                                                <label for="name1">Name</label>
                                                <input id="name1"
                                                       type="text"
                                                       ng-model = "model.post.name"
                                                       class="form-control">
                                                <label for="url2">URL</label>
                                                <input id="url2"
                                                       ng-model = "model.post.url"
                                                       type="url"
                                                       class="form-control"
                                                       placeholder="https://www.sitebuilderreport.com/assets/facebook-stock-up-446fff24fb11820517c520c4a5a4c032.jpg">
                                                <label for="width3">Width</label>
                                                <input id="width3"
                                                       ng-model = "model.post.width"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="100%">
                                                <form action="/api/project/upload"   method="post" enctype="multipart/form-data">
                                                    <input  name="myFile"    type="file" class="form-control"/>
                                                    <input  name="width"     value="{{model.post.width}}" style="display: none"/>
                                                    <input  name="userId"    value="{{model.userId}}"       style="display: none"/>
                                                    <input  name="movieId" value="{{model.movieId}}"    style="display: none"/>
                                                    <input  name="pageId"    value="{{model.pageId}}"       style="display: none"/>
                                                    <input  name="postId"  value="{{model.post._id}}"   style="display: none"/>
                                                    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
                                                </form>
                                            </form>
                                        </div>
                                        <div class="video hide">
                                            <form>
                                                <label for="description2" style="font-weight: normal">Description</label>
                                                <input id="description2"
                                                       type="text"
                                                       ng-model = "model.post.description"
                                                       class="form-control">
                                                <label for="url3" style="font-weight: normal">URL</label>
                                                <input id="url3"
                                                       class="form-control"
                                                       ng-model = "model.post.url"
                                                       type="url"
                                                       placeholder="https://www.sitebuilderreport.com/assets/facebook-stock-up-446fff24fb11820517c520c4a5a4c032.jpg">
                                                <label for="width4" style="font-weight: normal">Width</label>
                                                <input id="width4"
                                                       type="text"
                                                       ng-model = "model.post.width"
                                                       placeholder="100%"
                                                       class="form-control">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a href="" class="btn btn-success " ng-show="model.canEdit"
                               ng-click="model.updatePost(model.post)"
                               role="button"><strong>Update It!</strong></a>
                            <a href="" class="btn btn-danger " ng-show="model.canEdit"
                               ng-click="model.deletePost(model.post)"
                               role="button"><strong>Delete It!</strong></a>
                            <!--<a href="" class="btn btn-warning" ng-show="!model.canEdit" ng-disabled="!model.canCreate"-->
                            <!--role="button"><strong>Please login to review!</strong></a>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>