<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#!/home">
                <span class="glyphicon glyphicon-hand-left btn-sm"></span>
            </a>
        </p>

        <br>

            <h3 class="navbar-text" style="color: white">Movie Page</h3>
    </div>
</nav>

<div class="container-fluid user-main">

    <br>
    <br>
    <h3>{{model.movie.title}}</h3>



</div>
