input.form-control,
textarea.form-control,
select.form-control{
    margin-bottom: 5px;
}

.bcol {
    float: left;
}

p.ng-binding{
    width: 100%;
    float: left;
}


div.well.ng-scope{
    min-block-size: 250px;
}

div.reviewFormat{
    min-block-size: 200px;
}

.hide {
    display: none;
}
.col{
    width: 200px;
    float: left;
    margin-left: 40px;
}

.center{
    text-align: center;
}

.glyphicon-hand-left{
    font-size: xx-large;
    color: black;
}

.goBack{
    color: black;
}

head {
    position: static;
}

footer {
    position: static;
}

div.container-fluid.row {
    margin-left: 0px;
    margin-right: 0px;
}

div.row.content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
}

div.container-fluid.user-main {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

summary{
    font-size: large;
}

u{
    font-size: large;
    color: white;
}

a.navbar-link{
    color: white;
}



div.container-fluid.main {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    background-color: #f8eee7;
    padding-top: 50px;
    padding-bottom: 60px;
}

.list-group-item {
    border: none;
}

a {
    color: black;
}

b {
    color:black;
}

h3 {
    color:black;
}

.dropdown .dropdown-menu .dropdown-toggle {
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu .dropdown-toggle {
    background-color: transparent ;
    text-decoration: none;

}

.glyphicon-cog {
    color: white;
}

.glyphicon-plus {
    color:black;
}
.navbar-default,
a.dropdown-toggle,
ul.dropdown-menu.dropdown-menu-right{
    background-color: #94618e;
}



.navbar-text, a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

nav.navbar.navbar-default.navbar-fixed-top {
    position: fixed;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
    position: fixed;
}

.navbar.navbar-default a {
    color: white;
}


.scrollable-left {
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: scroll;
    padding-top: 15px;
    padding-bottom: 30px;
}

.wd-widget {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.wd-toolbar {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    opacity: 0.8;
}

.wd-choose {
    padding-top: 10px;
    padding-bottom: 10px;
}

.div .container {
    padding-bottom: 20%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.home body{
    margin-top: 25px;
    padding-bottom: 90%;
}

.home h1 {
    color: cornflowerblue;
    padding-bottom: 20px;
}

.home h4 {
    color: #76323f;
    padding-bottom: 15px;
}

.home a.btn {
    margin-top: 25px;
    margin-bottom: 25px;
}

.glyphicon-play {
    padding-right: 10px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-widget iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cog{
    z-index: 1;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}

button{
    width:200px;
    height:50px;
}

button .msg-follow,
button .msg-following,
button .msg-unfollow{
    display: none;
}

button .msg-follow{
    display: inline;
}

button.following .msg-follow{
    display: none;
}

button.following .msg-following{
    display: inline;
}

button.following:not(.wait):hover .msg-following{
    display: none;
}

button.following:not(.wait):hover .msg-unfollow{
    display: inline;
}

.youtube-post {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-post iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}