<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Choose Post</a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class ="list-group-item">
            <a ng-click = "model.postType(1); model.createPost(model.userId, post)"
               class="navbar-link">
                Text Input</a>
        </li>
        <li class ="list-group-item">
            <a ng-click = "model.postType(2); model.createPost(model.userId, post)"
               class="navbar-link">
                Image</a>
        </li>
        <li class ="list-group-item">
            <a ng-click = "model.postType(3); model.createPost(model.userId, post)"
               class="navbar-link">
                YouTube</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="navbar-link" href="#/profile">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>