<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand"
               href="#!/user/{{model.user._id}}">
                Profile
            </a>

            <p class="navbar-text pull-right">

                <a ng-click="model.updateUser(model.user._id, model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
            </p>

            <p class="navbar-text pull-right">

                <a ng-click="model.unregister()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid user-main">

    <div class="alert alert-info"
         ng-show="model.message">
        {{model.message}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input type=text
           ng-model="model.user.username"
           placeholder="username (Example: alice)"
           id="username"
           class="form-control"/>

    <label for="email">Email</label>
    <input type="email"
           placeholder="email (Example: w.alice@webdev.com)"
           id="email"
           class="form-control"/>

    <label for="first">First Name</label>
    <input type="text"
           ng-model="model.user.firstName"
           placeholder="first name (Example: Alice)"
           id="first"
           class="form-control"/>

    <label for="last">Last Name</label>
    <input type="text"
           ng-model="model.user.lastName"
           placeholder="last name (Example: Wonderland)"
           id="last"
           class="form-control"/>

    <a href="#!/user/{{model.user._id}}/website"
       class="btn btn-block btn-primary">
        Websites
    </a>

    <a ng-click="model.logout()"
       class="btn btn-block btn-danger">
        Logout
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#!/user/{{model.user._id}}">
                Footer
            </a>

            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.user._id}}"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>