<!--
// username
// reviews
// number of followers
// ability to follow/unfollow
//-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#!/login"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand">
                {{model.user.username}}
            </a>

            <p class="navbar-text pull-right">
                <a href="#!/"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<br>

<div ng-if="(model.user === user)">
<button class = "btn btn-info pull-right">
    <span class="msg-follow">Follow</span>
    <span class="msg-following">Following</span>
    <span class="msg-unfollow">Unfollow</span>
</button>
</div>

<div ng-if="!(model.user.roles.indexOf('ADMIN') > 0)">
    <div class="container fluid" ng-init="model.show='followers'">
        <ul class="nav nav-tabs">
            <li ng-if="!(model.user.roles.indexOf('CELEBRITY') > 0)"
                ng-init="model.show ='reviews'"
                ng-click="model.show='reviews'" ng-class="{'active': model.show==='reviews'}">
                <a>Reviews</a>
            </li>
            <li ng-if="(model.user.roles.indexOf('CELEBRITY') > 0)"
                ng-init="model.show ='posts'"
                ng-click="model.show='posts'" ng-class="{'active': model.show==='posts'}">
                <a>Posts</a>
            </li>
            <li ng-click="model.show ='followers'" ng-class="{'active': model.show==='followers'}">
                <a>Followers</a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-show="model.show === 'followers'" id="followers" class="tab-pane fade in active">
                <h3>Followers</h3>
                <ul class="list-group">
                    <li ng-repeat="review in model.reviews" class="list-group-item">
                        {{review.name}}
                    </li>
                </ul>
            </div>
            <div ng-show="model.show === 'reviews'" id="reviews" class="tab-pane fade in active">
                <h3>Reviews</h3>
                <ul class="list-group">
                    <li ng-repeat="review in model.user.reviews" class="list-group-item">
                        {{review.name}}
                    </li>
                </ul>
            </div>
            <div ng-show="model.show === 'posts'" id="posts" class="tab-pane fade in active">
                <h3>Posts</h3>
                <ul class="list-group">
                    <li ng-repeat="post in model.user.posts" class="list-group-item">
                        {{post.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--
<div ng-if="!(model.user.roles.indexOf('ADMIN') > 0)">
    <div class="container fluid" ng-init="model.show='followers'">
        <ul class="nav nav-tabs">
            <li ng-click="model.show='reviews'" ng-class="{'active': model.show==='reviews'}"><a>Reviews</a></li>
        </ul>
        <div class="tab-content">
            <div ng-show="model.show === 'reviews'" id="reviews" class="tab-pane fade in active">
                <h3>Reviews</h3>
                <ul class="list-group">
                    <li ng-repeat="review in model.user.reviews" class="list-group-item">
                        {{review.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>-->
