<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="nav navbar-text navbar-link pull-left">
                <span ng-click="model.goBack()" class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="navbar-brand">
                {{model.user.username}}
            </a>

            <p class="navbar-text pull-right">
                <a href="#!/"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<br>

<div ng-if="!(model.user.roles.indexOf('ADMIN') > 0)">
    <div ng-show="model.loggedUser._id && !model.isfollow"
         ng-if="model.user._id !== model.loggedUser._id">
    <span class="msg-following btn btn-info pull-right">
        <div ng-click="model.follow(model.user, model.loggedUser)">Follow</div>
    </span>
    </div>
    <div ng-show="model.loggedUser._id && model.isfollow"
         ng-if="model.user._id !== model.loggedUser._id">
    <span class="msg-following btn btn-info pull-right">
        <div ng-click="model.unfollow(model.user, model.loggedUser)">UnFollow</div>
    </span>
    </div>
</div>

<div class="container fluid" ng-init="model.show='followers'">
    <ul class="nav nav-tabs">
        <li ng-init="model.show ='reviews'"
            ng-click="model.show='reviews'" ng-class="{'active': model.show==='reviews'}">
            <a><b>Reviews</b></a>
        </li>
        <li ng-if="(model.user.roles.indexOf('CELEBRITY') >= 0)"
            ng-click="model.show='posts'" ng-class="{'active': model.show==='posts'}">
            <a><b>Posts</b></a>
        </li>
        <li ng-if="(model.user.roles.indexOf('ADMIN') >= 0)"
            ng-click="model.show='posts'" ng-class="{'active': model.show==='posts'}">
            <a><b>Posts</b></a>
        </li>
        <li ng-click="model.show ='followers'" ng-class="{'active': model.show==='followers'}">
            <a><b>Followers</b></a>
        </li>
        <li ng-click="model.show ='following'"
            ng-class="{'active': model.show==='following'}"
            ng-show="model.loggedUser._id && model.isfollow">
            <a><b>Followers</b></a>
        </li>

    </ul>
    <div class="tab-content">
        <div ng-show="model.show === 'followers'" id="followers" class="tab-pane fade in active">
            <h3>Followers</h3>
            <ul class="list-group">
                <li ng-repeat="follower in model.user.followers"
                    class="list-group-item"
                    ng-click="model.selectFollower(follower)">
                    {{follower.username}}
                </li>
            </ul>
        </div>
        <div ng-show="model.show === 'following'" id="following" class="tab-pane fade in active">
            <h3>Following</h3>
            <ul class="list-group">
                <li ng-repeat="following in model.user.following"
                    class="list-group-item"
                    ng-click="model.selectFollower(following)">
                    {{following.username}}
                </li>
            </ul>
        </div>
        <div ng-show="model.show === 'reviews'" id="reviews" class="tab-pane fade in active">
            <h3>Reviews</h3>
            <ul class="list-group">
                <li ng-repeat="review in model.user.reviews" class="list-group-item">
                    <div class="well reviewFormat">
                        <a class="btn btn-success btn-sm pull-right"
                           ng-click="model.selectMovie(review.movieId)">
                            Go to review page
                        </a>
                        {{review.review}}
                    </div>

                </li>
            </ul>
        </div>
        <div ng-show="model.show === 'posts'" id="posts" class="tab-pane fade in active">
            <h3>Posts</h3>
            <ul class="list-group">
                <li ng-repeat="post in model.user.posts" class="list-group-item">
                    <div class="well reviewFormat">
                        <a class="btn btn-success btn-sm pull-right"
                           ng-click="model.selectMovie(post.movieId)">
                            Go to review page
                        </a>
                        <div ng-switch ="post.postType">
                            <div ng-switch-when="TEXT">
                                    <span>
                                <p>{{post.post}}</p>
                                </span>
                            </div>
                            <div ng-switch-when = "IMAGE">
                                <!--<label ng-click="model.selectPost(post)"><u>{{post._author.username}}</u></label>-->
                                <span>
                                    <p>{{post.name}}</p>
                                    </span>

                                <img ng-src="{{post.url}}"
                                     width="{{post.width}}"/>

                            </div>
                            <div ng-switch-when = "YOUTUBE">
                                <!--<label ng-click="model.selectPost(post)"><u>{{post._author.username}}</u></label>-->
                                <span>
                                <p>{{post.description}}</p>
                                </span>

                                <div class="youtube-post">
                                    <iframe width="100%" src="{{model.getYouTubeEmbedUrl(post.url)}}"></iframe>
                                </div>
                            </div>
                        </div>
                        {{review.review}}
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
</div>