<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">

                <a href="#!/login"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand"
               href="#!/user/{{model.user._id}}">
               My Profile
            </a>

            <p class="navbar-text pull-right">

                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
            </p>

            <p class="navbar-text pull-right">

                <a ng-click="model.unregister()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">

                <a ng-click="model.logout()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid user-main">

    <label for="username">Username</label>
    <input type=text
           ng-model="model.user.username"
           placeholder="username (Example: alice)"
           id="username"
           class="form-control"/>

    <label for="email">Email</label>
    <input type="email"
           placeholder="email (Example: w.alice@webdev.com)"
           id="email"
           class="form-control"/>

    <label for="first">First Name</label>
    <input type="text"
           ng-model="model.user.firstName"
           placeholder="first name (Example: Alice)"
           id="first"
           class="form-control"/>

    <label for="last">Last Name</label>
    <input type="text"
           ng-model="model.user.lastName"
           placeholder="last name (Example: Wonderland)"
           id="last"
           class="form-control"/>
</div>
<br>

<div class="container fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#followers">Followers</a></li>
        <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
    </ul>

    <div class="tab-content">
        <div id="followers" class="tab-pane fade in active">
            <h3>Followers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#!/"
               class="btn btn-block btn-success pull-right">
                Home
            </a>
        </div>
        <div id="reviews" class="tab-pane fade">
            <h3>Reviews</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <br>
    <br>
    <div id="content">Page 1</div>
    <div id="page-selection"></div>

</div>

<script type="text/javascript">
    $('#page-selection').bootpag({
        total: 50,
        page: 1,
        maxVisible: 5,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function(event, num){
        $("#content").html("Page " + num);
    });
</script>

<table id="example" class="display" width="100%"></table>

<script type="text/javascript">
    var dataSet = [
        [ "Tiger Nixon", "System Architect", "Edinburgh", "5421"],
        [ "Garrett Winters", "Accountant", "Tokyo", "8422"],
        [ "Ashton Cox", "Junior Technical Author", "San Francisco", "1562"],
        [ "Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224"],
        [ "Airi Satou", "Accountant", "Tokyo", "5407"],
        [ "Brielle Williamson", "Integration Specialist", "New York", "4804"],
        [ "Herrod Chandler", "Sales Assistant", "San Francisco", "9608" ],
        [ "Rhona Davidson", "Integration Specialist", "Tokyo", "6200"],
        [ "Colleen Hurst", "Javascript Developer", "San Francisco", "2360"],
        [ "Sonya Frost", "Software Engineer", "Edinburgh", "1667"],
        [ "Jena Gaines", "Office Manager", "London", "3814"],
        [ "Quinn Flynn", "Support Lead", "Edinburgh", "9497"],
        [ "Charde Marshall", "Regional Director", "San Francisco", "6741"],
        [ "Haley Kennedy", "Senior Marketing Designer", "London", "3597"],
        [ "Tatyana Fitzpatrick", "Regional Director", "London", "1965"],
        [ "Michael Silva", "Marketing Designer", "London", "1581"],
        [ "Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059"],
        [ "Gloria Little", "Systems Administrator", "New York", "1721"],
        [ "Bradley Greer", "Software Engineer", "London", "2558"],
        [ "Dai Rios", "Personnel Lead", "Edinburgh", "2290"],
        [ "Jenette Caldwell", "Development Lead", "New York", "1937"],
        [ "Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154"],
        [ "Caesar Vance", "Pre-Sales Support", "New York", "8330"],
        [ "Doris Wilder", "Sales Assistant", "Sidney", "3023"],
        [ "Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797"],
        [ "Gavin Joyce", "Developer", "Edinburgh", "8822"],
        [ "Jennifer Chang", "Regional Director", "Singapore", "9239"],
        [ "Brenden Wagner", "Software Engineer", "San Francisco", "1314"],
        [ "Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947"],
        [ "Shou Itou", "Regional Marketing", "Tokyo", "8899"],
        [ "Michelle House", "Integration Specialist", "Sidney", "2769"],
        [ "Suki Burks", "Developer", "London", "6832" ],
        [ "Prescott Bartlett", "Technical Author", "London", "3606"],
        [ "Gavin Cortez", "Team Leader", "San Francisco", "2860"],
        [ "Martena Mccray", "Post-Sales support", "Edinburgh", "8240"],
        [ "Unity Butler", "Marketing Designer", "San Francisco", "5384"]
    ];

    $(document).ready(function() {
        $('#example').DataTable( {
            data: dataSet,
            columns: [
                { title: "Movie Title" },
                { title: "Date Released" },
                { title: "Director" },
                { title: "Image" }
            ]
        } );
    } );
</script>