<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">

                <a href="#!/login"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand"
               href="#!/user/{{model.user._id}}">
                My Profile
            </a>

            <p class="navbar-text pull-right">

                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
            </p>

            <p class="navbar-text pull-right">

                <a ng-click="model.unregister()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">

                <a ng-click="model.logout()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid user-main">

    <label for="username">Username</label>
    <input type=text
           ng-model="model.user.username"
           placeholder="username (Example: alice)"
           id="username"
           class="form-control"/>

    <label for="email">Email</label>
    <input type="email"
           placeholder="email (Example: w.alice@webdev.com)"
           id="email"
           class="form-control"/>

    <label for="first">First Name</label>
    <input type="text"
           ng-model="model.user.firstName"
           placeholder="first name (Example: Alice)"
           id="first"
           class="form-control"/>

    <label for="last">Last Name</label>
    <input type="text"
           ng-model="model.user.lastName"
           placeholder="last name (Example: Wonderland)"
           id="last"
           class="form-control"/>
</div>
<br>

<div class="container fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#followers">Followers</a></li>
        <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
    </ul>

    <div class="tab-content">
        <div id="followers" class="tab-pane fade in active">
            <h3>Followers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#!/"
               class="btn btn-block btn-success pull-right">
                Home
            </a>
        </div>
        <div id="reviews" class="tab-pane fade">
            <h3>Reviews</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <br>
    <br>

</div>

<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
            {{user.age}}</td>
    </tr>
</table>

<script type="text/javascript">
    var self = this;
    var data = [{name: "Moroni", age: 50} /*,*/];
    self.tableParams = new NgTableParams({}, { dataset: data});
</script>





