<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav pull-right">
                <li ng-if="!model.currentUser._id">
                    <a href="#!/register">
                        <u>Register</u>
                    </a>
                </li>
                <li ng-if="!model.currentUser._id">
                    <a href="#!/login">
                        <u>Login</u>
                    </a>
                </li>
                <li ng-if="model.currentUser._id">
                    <a href="#!/profile">
                        <u>Profile</u>
                    </a>
                </li>

                <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1">
                    <a href="#!/admin">
                        <u>Admin</u>
                    </a>
                </li>

                <li ng-if="model.currentUser._id">
                    <a ng-click="model.logout()">
                        <u>Logout</u>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid home user-main">

    <div class="center">

        <h1>Welcome to WhichMovie?</h1>

        <div>
            <h4>
                Want to catch up on the latest movies? Want to follow news about upcoming movies? Join WhichMovie? where
                actors and celbs regularly update on behind the scenes info about movies! And ofcourse read and write
                reviews and follow fellow users!
            </h4>
        </div>

        <div ng-show="model.error"
             class="alert alert-danger">
             {{model.error}}
        </div>

        <div class="container-fluid user-main">
            <div class="input-group search-bar">
                <input type="text"
                       class="form-control center"
                       ng-model="searchText"
                        placeholder="Search movie here..."/>
                <span ng-click="model.searchPage(searchText)" class="input-group-addon glyphicon glyphicon-search"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid user-main">

        <h4>Upcoming Movies</h4>

        <div ng-repeat="movie in model.upcomingMovies | limitTo: 4">
            <div class="col-sm-6 col-md-3 thumbnail">
                    <img class="img-responsive"
                         ng-click="model.selectMovie(movie.id)"
                         ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}"/>
            </div>
        </div>
    </div>

    <div class="container-fluid user-main">

        <h4>Current Movies</h4>

        <div ng-repeat="movie in model.currentMovies | limitTo: 4">
            <div class="col-sm-6 col-md-3 thumbnail">
                <img class="img-responsive"
                     ng-click="model.selectMovie(movie.id)"
                     ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}"/>
            </div>
        </div>
    </div>

    <div class="container-fluid user-main">

        <h4>Top Rated Movies</h4>

        <div ng-repeat="movie in model.topRatedMovies | limitTo: 4">
            <div class="col-sm-6 col-md-3 thumbnail">
                <img class="img-responsive"
                     ng-click="model.selectMovie(movie.id)"
                     ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}"/>
            </div>
        </div>
    </div>

    <div class="container-fluid user-main">

        <h4>Popular Movies</h4>

        <div ng-repeat="movie in model.popularMovies | limitTo: 4">
            <div class="col-sm-6 col-md-3 thumbnail">
                <img class="img-responsive"
                     ng-click="model.selectMovie(movie.id)"
                     ng-src="http://image.tmdb.org/t/p/original{{movie.poster_path}}"/>
            </div>
        </div>
    </div>
</div>